*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8fa;
    color: #333;
    line-height: 1.6;
    padding: 0 20px;
}
header{
    background: #ffffff;
    padding: 15px 0;
    border-bottom: 1px solid #e5e5e5;
}
nav{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    font-size: 24px;
    font-weight: bold;
    color: #4a4a4a;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a: hover{
    color: #000;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 40px;
}
.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 17px;
    transition: all 0.3s ease;
}
.nav-links a:hover{
    color: #6a5acd;
    letter-spacing: 1px;
}
.hero{
    max-width: 1100px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.text-container h2{
    font-size: 36px;
    color: #333;
}
.text-container h2 span{ 
    color: #6a5acd;
}
.text-container p{
    margin: 15px 0;
    color: #555;
    max-width: 500px;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: #6a5acd;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: all 0.3s ease;
}
.btn:hover{
    background: #5848c2;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}
.image-container img {
    width: 320px;
    border-radius: 50%;
}
.
.about{
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
}
.about-container{
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.about-image img{
    width: 320px;
    border-radius: 50%;
}
.about-text p{
    font-size: 18px;
    color: #555;
    line-height: 1.7;
}
.about-text h2{
    font-size: 32px;
    color: #333;
    margin-bottom: 15px;
}
.skills{
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
}
.skills h2{
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}
.skills-container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}
.skill-category{
    flex-wrap: 1;
    min-width: 250px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.skill-category h3{
    font-size: 24px;
    color: #6a5acd;
    margin-bottom: 15px;
}
.skill-category ul {
    list-style: none;
    padding-left: 0;
}
.skill-category ul li{
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
    position: relative;
    padding-left: 15px;
}
.skill-category ul li::before{
    content: ".";
    color: #6a5acd;
    position: absolute;
    left: 0;
}
.projects{
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
}
.projects h2{
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}
.projects-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}
.project-card{
    background: #fff;
    flex: 1 1 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
.project-card h3{
    color: #555;
    margin-bottom: 8px;
    line-height: 1.5;
}
.project-card p{
    color: #555;
    margin-bottom: 8px;
    line-height: 1.5;
}
.project-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.contact-container{
    padding: 50px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}
.contact-form input,.contact-form textarea{
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}
.contact-form button{
    background: #6C63FF;
    color: white;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    transition: 0.3s ease;
}
.contact-form button:hover{
    background: #5348d7;
}
.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
.contact-item{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}
.contact-item:hover{
    color: #6a5acd;
    transform: translateY(-2px);
}
.contact-item img{
    width: 25px;
}
.contact-info img:hover{
    transform: scale(1.2);
}